.product_card{
    width: 30%;
    box-shadow: 0 0 5px #777;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
    float: left;
    margin-right: 3%;
    margin-bottom: 50px;
    transition: transform 0.3s ease-in-out , box-shadow 0.3s ease-in-out;
 
}
.products{
    width: 80%;
    margin:100px auto
}
img{
    max-width: 100%;
}
.product_card .product_content{
    padding: 10px;
}
ins{
    color: red;
    font-size: 25px;
}
del{
    color:#777
}
button{
    padding: 10px;
    background-color:lightblue;
    border: 2px solid lightblue;

}
input{
    padding: 10px;
}
.addToCart{
    margin-top: 10px;
}
.product_card i{
    font-size: 30px;
    color:lightblue;
    background-color: #000000a8;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    right:-65px;
    top:5px;
    transition: right 0.5s ease-in-out;

}
.product_card .fa-heart{
    top:70px;
      transition-delay: 0.1s;

}
.product_card:hover i{
right:  10px;
}
.product_card i:hover{
background-color: white;
color:#222
}

header nav{
 width: 80%;
 margin: auto; 
 position: relative;
}
a{
    text-decoration: none;
    color:#333;
}
header a{
    font-size: 20px;  
    text-transform: uppercase;
    padding: 10px 20px;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}
header a:hover{
    border-bottom:1px solid brown;
   transform:translateY(-7px);    
}
header{
    padding: 20px 0;
    position: fixed;
    width: 100%;
    left:0;
    top:0;
    z-index: 9999;
    background-color: white;
    box-shadow: 0 0 5px #333;
}
.active{
    border-bottom:1px solid brown;
}
.product_card:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 15px #333 ;
    background-color: #000;
    color:white
}
.product_card:hover a{
    color:white 
}
